<p>member-live-lets-chat works!</p>
<div class="card border-primary mb-3">
  <div class="card-img-wrapper">
     <div class="row mt-4">
        <div class="col">
           <h5 *ngIf="userVideo">{{userVideo}}</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <video #videoPlayer  style="width:100%" controls></video>
      </div>
      <div class="column">
        <video #videoPlayer style="width:100%" controls></video>
      </div>
     </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-live-stream-card [member]="member"></app-live-stream-card>
    </div>
  </div>

</div>

