.card:hover img {
  transform: scale(1.2, 1.2);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.3s ease-in-out;
}

@keyframes fa-blink {
  0% {opacity: 1;}
  100% {opacity: 0.4;}
}

.is-online {
  animation: fa-blink 1.5s linear infinite;
  color: rgb(4, 235, 54);
}

.img-thumbnail
{
 margin:10px;
 width:95%;
 height:95%;
}

.card-body{
  padding: 0 35px;
}

.card-footer{
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
}





.mainRunner {
  border: 1px solid #000;
}

.img1 {
  border: 1px solid #f00;
  position: relative;
  z-index: 2;
}

.img2 {
  border: 1px solid #0f0;
  position: relative;
  z-index: 1;
  top: -12px;
  left: -12px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 15px;
}
