<p>live works!</p>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-stream [member]="member"></app-member-stream>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerpage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      [maxSize]="10"
      previoustext="&lsaquo;"
      nexttext="&laquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
</div>
