<p>Start Streaming Or Join A Stream</p>

<div class="container-fluid">
  <div class="row">
    <div class="btn-group" name="container">
       <button aria-label="liveStream"  class="btn btn-outline-primary ms-1" btnRadio="liveStream"
         [(ngModel)]="container" routerLink='/live/livestream'><i class="fa fa-video"></i>Start Live Stream</button>
       <button class="btn btn-outline-primary ms-1" btnRadio="vsStream"
         [(ngModel)]="container" routerLink='/live/vslivestream'><i class="fa-thin fa-video"></i>VS Stream</button>
       <button class="btn btn-outline-primary ms-1" btnRadio="letsChat"
         [(ngModel)]="container" routerLink='/live/liveletschat'><i class="fa-regular fa-video"></i>Lets Chat</button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-2" *ngFor="let member of members">
    <app-live-stream-card [member]="member"></app-live-stream-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
      [boundaryLinks]="true"
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerpage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previoustext="&lsaquo;"
      nexttext="&laquo;"
      firstText="&laquo;"
      lastText="&raquo;">
    </pagination>
</div>
